<div class="container pt-5 h-100">
    <div class="row justify-content-md-center h-75">
        <div class="col col-md-auto align-self-center bg-white p-5 rounded">
            <h2>Login</h2>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <label for="login">Username</label>
                    <input type="text" class="form-control" name="login" [(ngModel)]="model.login" #username="ngModel" required />
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
                </div>
                <div class="form-group float-right">
                    <button id="login" class="btn btn-primary">Login</button>
                    <!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a> --> 
                </div>
            </form>
        </div>
    </div>
</div>
