<div class="container pt-3">
    <app-search [find]="find"></app-search>
    <div class="d-flex justify-content-end mb-3">
        <button id="add" type="button" class="btn btn-primary my-2 my-sm-0" [routerLink]="['/courses/new']"><fa-icon [icon]="faPlus">    
            </fa-icon> {{ 'COURSELIST.ADD' | translate }}
        </button>
    </div>
    <div class="list-group">
        <div class="message alert alert-info text-center" *ngIf="(courseListsItems$ | async).length === 0">{{ 'COURSELIST.NODATA' | translate | uppercase}}</div>
        <app-course-list-item *ngFor="let item of ((courseListsItems$ | async) | slice:0:size); let i=index; trackBy: trackByFn" [courseListItem]="item" (delete)="onDelete($event)"></app-course-list-item>
    </div>
    <button *ngIf="( courseCount$ | async ) > size" class="btn btn-link bg-white btn-lg btn-block mb-5 loadmore" (click)="loadMoreCourses()">
        {{ 'COURSELIST.LOADMORE' | translate }}
    </button>
    <div *ngIf="( courseCount$ | async ) <= size" class="mb-5 btn"></div>
</div>
