<form id="search" findForm="ngForm" class="form-inline my-4 my-lg-0">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <fa-icon class="input-group-text" [icon]="faSearch" aria-hidden="true"></fa-icon>
        </div>
        <input [(ngModel)]="findValue" name="findValue" class="form-control" type="text" placeholder="Text to search">
        <button id="find" class="btn btn-success my-2 my-sm-0 m-2" type="submit" (click)="findCourse()">Search</button>
    </div>
</form>
<div class="d-flex justify-content-end mb-3">
    <button id="add" type="button" class="btn btn-primary my-2 my-sm-0" (click)="onAddCourse()"><fa-icon [icon]="faPlus"></fa-icon> Add course</button>
</div>
