<div class="container pt-3">
    <h1>Create course</h1>
    <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title"
                required
                [(ngModel)]="model.title" name="title"
                #name="ngModel">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" rows="4"
                required
                [(ngModel)]="model.description" name="description"
                #name="ngModel">
            </textarea>
        </div>
        <app-date [model]="model"></app-date>
        <app-duration [model]="model"></app-duration>
        <app-author [model]="model"></app-author>
        <button type="submit" class="btn btn-primary btn-success my-2" [disabled]="!courseForm.form.valid">Save</button>
        <button class="btn btn-primary btn-cancel my-2 m-3" [routerLink]="['/courses/list']">Cancel</button>
    </form>
</div>
  