<div class="form-group mt-3">
  <label for="authors">{{ 'ADDEDIT.AUTHORS' | translate }}: </label>
  <div class="author-sel">
    <div *ngFor="let author of authors" class="author-sel-item">{{author.name}} {{author.lastName}}<span class="author-close-btn" (click)="remove(author.id)">x</span></div>
  </div>
  <div class="author-ctn" [class.ng-invalid]="authors.length == 0 && touched" [class.ng-valid]="authors.length >= 1 && touched">
    <input #authorType type="text" class="form-control" placeholder="{{ 'ADDEDIT.AUTHORSSEARCH' | translate }}" 
      (keyup)="onKey(authorType.value)">
    <div (click)="trigger()" id="author-trigger" class="author-trigger"><div class="author-trigger-ico"></div></div>
  </div>
  <input type="hidden" class="form-control" value="{{authors}}">
  <div class="author-res" *ngIf="(suggestedAuthors$ | async).length > 0 && expand">
    <div class="author-res-item" *ngFor="let suggAuhtor of (suggestedAuthors$ | async)" (click)="add(suggAuhtor)">{{suggAuhtor.name}}</div>
  </div>
  <div *ngIf="touched && authors.length == 0" class="error-msg">{{ 'ADDEDIT.AUTHORSREQ' | translate }}</div>
</div>
