<form (ngSubmit)="onSubmit()" [formGroup]="course">
  <div class="form-group">
    <label for="title">{{ 'ADDEDIT.TITLE' | translate }}</label>
    <input type="text" class="form-control" id="title"
            formControlName="name" required>
    <div *ngIf="course.controls.name.errors" class="error-msg">
      <div *ngIf="course.controls.name.errors.required && course.controls.name.touched; else titleErrors">{{ 'ADDEDIT.TITLEREQ' | translate }}</div>
    </div>
    <ng-template #titleErrors>
      <div *ngIf="course.controls.name.errors.maxlength">{{ 'ADDEDIT.TITLELESS' | translate:{value: course.controls.name.errors.maxlength.requiredLength} }}</div>
      <div *ngIf="course.controls.name.errors.minlength">{{ 'ADDEDIT.TITLELEAST' | translate:{value: course.controls.name.errors.minlength.requiredLength} }}</div>
    </ng-template>
  </div>
  <div class="form-group">
    <label for="description">{{ 'ADDEDIT.DESCRIPTION' | translate }}</label>
    <textarea type="text" class="form-control" id="description"
            formControlName="description" required>
    </textarea>
    <div *ngIf="course.controls.description.errors" class="error-msg">
      <div *ngIf="course.controls.description.errors.required && course.controls.description.touched; else descriptionErrors">{{ 'ADDEDIT.DESCRIPTIONREQ' | translate }}</div>
      <ng-template #descriptionErrors>
        <div *ngIf="course.controls.description.errors.maxlength">{{ 'ADDEDIT.DESCRIPTIONLESS' | translate:{value: course.controls.description.errors.maxlength.requiredLength} }}</div>
      </ng-template>
    </div>
  </div>
  <app-date formControlName="date"></app-date>
  <app-duration formControlName="length"></app-duration>
  <app-author formControlName="authors"></app-author>
  <button type="submit" class="btn btn-primary btn-success my-2" [disabled]="course.invalid">{{ 'ADDEDIT.SAVE' | translate }}</button>
  <button type="button" class="btn btn-primary btn-cancel my-2 m-3" [routerLink]="['/courses']">{{ 'ADDEDIT.CANCEL' | translate }}</button>
</form>